nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #222;
  color: white;
}

nav h2 {
  margin: 0;
  color: white;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #ff9800;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }

  nav div {
    gap: 15px;
  }
}